/* write your override styles here */

#wall .tag-1{
  display: none;
}

#wall .tag-1 + #tag-2{
  display: none;
}

div#wall #tag-3 a[class="slick wicked"]{
  display: none;
}

.parent#tag-4 {
  display: none;
}
